@import url('https://fonts.google.com/specimen/Secular+One');
 
 body{
    background-color: rgb(0, 255, 242);
    font-family: 'secular-one', sans-serif;
    color: black;
    font-size: large;
    
 }

 h1 {
    font-size:larger;
    color: darkslategrey;

}
p {
    font-size: medium;
    color: gray

}
